3. Sensor Ultrasonido HC-SR04/sensorUltrasonidoHC-SR04.json
[
    {
        "id": "4be2a7320cfbb8f0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fddc45701d82c9b3",
        "type": "serial in",
        "z": "4be2a7320cfbb8f0",
        "name": "",
        "serial": "eaeddc4e44e98858",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "14750c37518a1c4a",
                "dda116fdf12d4e7b",
                "09ae3cfb4b5cca74",
                "7f64b001c5963b68",
                "88846684b58eec29"
            ]
        ]
    },
    {
        "id": "14750c37518a1c4a",
        "type": "ui_gauge",
        "z": "4be2a7320cfbb8f0",
        "name": "",
        "group": "1e88caa815bf294f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 270,
        "y": 100,
        "wires": []
    },
    {
        "id": "7f64b001c5963b68",
        "type": "ui_chart",
        "z": "4be2a7320cfbb8f0",
        "name": "",
        "group": "1e88caa815bf294f",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Grafica",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 280,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "dda116fdf12d4e7b",
        "type": "ui_text",
        "z": "4be2a7320cfbb8f0",
        "group": "1e88caa815bf294f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distancia",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 280,
        "y": 160,
        "wires": []
    },
    {
        "id": "09ae3cfb4b5cca74",
        "type": "ui_slider",
        "z": "4be2a7320cfbb8f0",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "1e88caa815bf294f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "200",
        "step": 1,
        "className": "",
        "x": 270,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "88846684b58eec29",
        "type": "debug",
        "z": "4be2a7320cfbb8f0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "eaeddc4e44e98858",
        "type": "serial-port",
        "serialport": "COM12",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "}",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "1e88caa815bf294f",
        "type": "ui_group",
        "name": "Salidas",
        "tab": "44bb67028033c05d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "44bb67028033c05d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]